body.home,
body.archive{
    article{
        margin-bottom: $spacer * 5;
        .entry-meta {
            font-size: 0.8rem;
        }

        .btn {
            display: block;
        }
        @include media-breakpoint-up(md) {
            .btn {
                display: inline-block;
            }
        }

        //Scroll magic
        &.card {
            opacity: 0;
            transform:translateY(40px);
            transition: all ease 1s;
            &.visible {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}